.commentManageButton:hover
{
    cursor:pointer;
    color:black;
}

.commentManageButton
{
    text-decoration: none;
    color: gray;
}

.commentManageButtonsField
{
    display: flex;
    flex-direction: row;
    margin-left:1%;
    justify-content: space-between;
    width: 25%;
}

.repliesViewLink {
    text-decoration: none;
    color: gray;
}

.repliesViewLink:hover {
    color: gray
}


.voteFields
{
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.upvotesCount
{
    color: green;
}

.downvotesCount
{
    color: red;
}

.upvoteButton
{
    border-radius: 10px;
}
.downvoteButton {
    border-radius: 10px;
}

.upvoteButtonActive {
    background-color: green;
}

.downvoteButtonActive {
    background-color: red;
}